<?xml version='1.0' encoding='utf-8'?>
<widget id="com.github.renansiravegna.cordovaJokenpo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cordova Jokenpo</name>
    <description>
        Jokenpo multiplayer utilizando Cordova
    </description>
    <author email="renan.siravegna@gmail.com" href="http://renansiravegna.wordpress.com">
        Renan Siravegna
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
