html, body{
  height:100%;
}

section {
    text-align: center;
    position: relative;
    top: 20%;
}

.botao {
    border: 0px solid;
    background-color: #83262E;
    color: white;
    text-transform: uppercase;
}

ul li {
    list-style-type: none;
    border-top: 1px solid black;
}

.campo-texto {
    text-transform: uppercase;
}

.largura-maxima {
    width: 100%;
}

.grande {
    width: 90%;
}

.largo {
    height: 50px;
}

.alinhado-ao-centro {
    text-align: center;
}

.fonte-grande {
    font-size: 1.8em;
}